<ion-view view-title="cordova各插件"><!--导航栏标题 view-title="条目列表"-->
    <ion-nav-bar class="bar bar-header bar-positive" align-title="center"><!--头部-->
        <ion-nav-buttons side="left"><!--左边的按钮-->
            <!--打开左侧边栏-->
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="stable-bg has-header">
       <div class="row ">
           <div class="col item-stable item-thumbnail-left">
               <img src="img/1.gif"/>
           </div>
           <div class="col">test</div>
           <div class="col">test</div>
       </div>
       <div class="row "></div>
       <div class="row "></div>
       <div class="row "></div>
    </ion-content>

</ion-view>