<ion-view ><!--enable-menu-with-back-views="false" 是否允许物理返回键返回-->
    <div class="bar bar-header bar-positive item-input-inset" >
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input class="input" type="text" ng-model="searchTitle" placeholder="input title to search ..." />
        </label>
        <div class="button button-clear">
            <button class="button button-icon button-clear ion-search" ng-click="search()"></button>
        </div>
    </div>
    <ion-content on-scroll-complete="scrollComplete()"  delegate-handle="fordoScroll" class="stable-bg has-header">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="正在刷新!"
                       spinner="android">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in itemList" >
                {{item.title}}
                <!--列表按钮-->
                <ion-option-button class="button-info" ng-click="finishItem(item)">
                    <i class="icon ion-checkmark-round calm"></i>
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="deleteItem(item)">
                    <i class="icon ion-close-round assertive"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <!--可设置ng-if防止无限加载-->
         <ion-infinite-scroll on-infinite="loadMore()" spinner="android" distance="1%" immediate-check="false" ng-if="!isLoadEnd"></ion-infinite-scroll>
    </ion-content>
    <div class="ss-scroll-box" ng-if="showToTop" ng-click="scrollToTop()"><i class="icon ion-arrow-up-a"></i><div>[TOP]</div></div>
</ion-view>