<ion-view >
    <!--顶部工具栏ion-header-bar:点击可返回顶部-->
    <!--align-title:标题对齐方式 -->
    <ion-header-bar align-title="center" class="bar-positive">
        <!--<div class="buttons">-->
            <!--<button class="button" ng-click="doSomething()">左侧按钮</button>-->
        <!--</div>-->
        <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
        <!--</button>-->
        <h1 class="title">Title!</h1><!--title:标题-->
        <div class="buttons">
            <button class="button" ng-click="share()">share</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">share content : {{bottomMsg}}</div>

            <div class="item item-divider">Check test : 1:{{isChecked1}} 2:{{isChecked2}}</div>
            <ion-checkbox ng-model="isChecked1" ng-value="check" ng-true-value="'check'" ng-false-value="'uncheck'">checkbox</ion-checkbox>
            <!--自定义的checkbox-->
            <cs-ion-check ng-model="isChecked2" ng-value="check" ng-true-value="'check'" ng-false-value="'uncheck'">checkbox</cs-ion-check>

            <div class="item item-divider" style="background-color: #FFF;"></div>

            <div class="item item-divider">Radio test:{{data.checkData}}</div>
            <!--ng-value="'A'" ！！字符串类型！！-->
            <ion-radio ng-model="data.checkData" ng-value="'A'" >Choose A</ion-radio>
            <ion-radio ng-model="data.checkData" ng-value="'B'" >Choose B</ion-radio>
            <ion-radio ng-model="data.checkData" ng-value="'C'" >Choose C</ion-radio>
            <!--自定义的radio-->
            <cs-ion-radio ng-model="data.checkData" ng-value="'D'">Choose D</cs-ion-radio>

            <div class="item" >
                <button class="button" ng-click="sheetTest()">share</button>
                <button class="button" ng-click="sheetTest1()">share1</button>
                <button class="button" ng-click="sheetTest2()">share2</button>
            </div>
            <div class="item" >
                <button class="button" ng-click="sheetTest3()">share3</button>
                <button class="button" ng-click="sheetTest4()">share4</button>
            </div>
            <div class="item" >
                <button class="button" ng-click="deleteTest()">delete</button>
                <button class="button" ng-click="logOutTest()">log out</button>
            </div>
        </div>
    </ion-content>
    <!--底部工具栏-->
    <!--<ion-footer-bar align-title="center" class="bar-assertive">-->
        <!--<h1 class="title" ></h1>-->
    <!--</ion-footer-bar>-->
</ion-view>