@charset "UTF-8";
/*
首页 登陆注册样式
*/
/*图标大小*/
.ss-log-i-30{
    font-size: 30px;
}
/*列表浮动图标*/
.ss-scroll-box{
    height: 48px;
    width: 60px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1000;
    text-align: center;
}

.ss-scroll-box i{
    font-size: 30px;
    color: #11A8DE;
}

